.segment-group {
  display: flex;
  border-radius: 9999px;
  align-items: center;
}

.segment-group--full-width {
  width: 100%;
}

.segment-group > button {
  flex: 1;
}

.segment {
  background-color: transparent;
}

.segment--selected {
  background-color: var(--c-background);
}

.segment:not(:hover) {
  background-color: transparent;
}

.segment--selected:not(:hover) {
  background-color: var(--c-background);
}
