.twitter-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--sp-l);
}

.twitter-wrapper > div {
  display: flex;
  align-items: center;
  gap: var(--sp-s);
  margin-top: var(--sp-s);
  margin-left: 2rem;
}

.twitter-wrapper > div small {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.twitter-wrapper > div svg {
  min-width: fit-content;
}

.twitter-wrapper h4 {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1;
}

.twitter-wrapper small {
  color: var(--c-body-secondary);
}

.twitter-wrapper header {
  display: flex;
  gap: var(--sp-s);
  margin-bottom: var(--sp-s);
}

.twitter-wrapper header svg {
  min-width: fit-content;
}

.twitter-wrapper header p {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.twitter-wrapper header div > div:first-child {
  background-color: var(--c-backgroundAlt);
  padding: var(--sp-m);
  border-radius: 0.5rem;
  margin-bottom: var(--sp-s);
}

.twitter-wrapper header div > div:last-child {
  display: flex;
  gap: var(--sp-s);
}
