.example-code-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: var(--sp-xl);
  margin-top: var(--sp-l);
  display: grid;
}

.example-code-title {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.example-code-card .avatars-grid {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--sp-l);
  padding: var(--sp-l);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-padding-inline: var(--sp-l);
  scrollbar-width: thin;
  justify-content: space-between;
}

.example-code-card .avatars-grid > * {
  flex: 0 0 auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.example-code-content .code-block {
  margin: 0;
  padding: var(--sp-m) var(--sp-l);
}

.example-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  grid-gap: var(--sp-l);
}

@media (max-width: 1200px) {
  .example-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .example-grid {
    grid-template-columns: 1fr;
  }
}

.example-grid > .card:nth-child(1) {
  grid-row: span 2;
}

.example-grid > .card:nth-child(2) {
  grid-row: span 2;
}

.example-grid > .card:nth-child(3) {
  grid-row: span 1;
}

.example-grid > .card:nth-child(4) {
  grid-row: span 2;
}

.example-grid > .card:nth-child(5) {
  grid-row: span 2;
}

.example-grid > .card:nth-child(6) {
  grid-row: span 2;
}

.example-grid > .card:nth-child(7) {
  grid-row: span 1;
}

.example-wrapper {
  font-family: var(--font-sans);
  padding: var(--sp-xl);
  border-radius: 1rem;
  background: linear-gradient(210deg, var(--color-1), var(--color-2)), #f6f6f6;
}

@media (max-width: 700px) {
  .example-wrapper {
    padding: var(--sp-l);
  }
}

.example-section {
  margin-bottom: calc(var(--sp-xl) * 2);
}
